<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Album ID</th>
                <th (click)="sortByTitle()">Title</th>
                <th>Artist</th>
                <th (click)="sortByPrice()">Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!----------------USING *ngFor------------------------>
            <tr *ngFor="let album of albumList;let i = index">
                <td>{{album.id}}</td>
                <td>{{album.title}}</td>
                <td>{{album.artist}}</td>
                <td>{{album.price}}</td>
                <td><button class="btn btn-info" (click)="edit(i)">Edit</button> | 
                    <button class="btn btn-warning" (click)="delete(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
